 .main {
    background-image: url('../UI/background.PNG');
    width: 60%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
 }