.footer{
    background:white;
    height:80px;
    width: 70%;
    margin-top: -66px;
}
.attch{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px
    
}